<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.feelfreelinux.wordling" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:name=".WordLing"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".screens.WordInputActivity" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".screens.SessionSummaryActivity"/>
        <activity android:name=".screens.InputActivity"/>
        <activity android:name=".screens.WordSummaryActivity"/>
        <activity android:name=".screens.WordpackEditorActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".screens.WordEditActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".screens.WordTTSInputActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".screens.WordpacksListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>